<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="stylecode" value="008939"/>
    <add key="sizecode" value="7"/>
    <add key="email" value="morganicfruit@gmail.com"/>
    <add key="password" value="Penguin1"/>
    <add key="discordwebhook" value="https://discordapp.com/api/webhooks/686768082429149186/p8KqcdkS3gRasGPZXYCwbdg74-nlkX0zX8mLCQwwvNy4BKt5K8vRTjOTn3ldkm16eEoH"/>
    <add key="ccnum" value="1234567812345678"/>
    <add key="ccexp" value="1234"/>
    <add key="cccvc" value="123"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
</configuration>